.main-container {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.download-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-btn:hover {
  cursor: pointer;
}

.chart-parent {
  display: flex;
}

.download-btns {
  display: flex;
  flex-direction: column;
}

a {
  margin: 10px 0 4px 8px;
}

@media (max-width: 768px) {
  .main-container {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .main-container {
    padding: 5px;
  }
}
